.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 99%;
}

#stoplight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid grey;
  border-radius: 10%;
  height: 270px;
  width: 130px;
  background-color: grey;
}

.light {
  border: 0.5px solid grey;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: white;
}